<div class="verone">Les Délices de Vérone</div>
<style>
    .verone{
        font-family:    Garamond;
        font-size:      50px;
        font-weight:    bold;
        font-style:     italic;
        background: #171623;
        color: white;
        text-align: center;
        padding:20px;
    }
</style>