<script>
    setTimeout(function(){window.location.href='/'}, 2000)
    
</script>
<%-include('banner')%>
<div class="mess">
Le paiement n'a pas été effectué
</div>
<%-include('footer')%>
<style>
    .mess{
        width:500px;
        height:200px;
        border-radius: 20px;
        border: solid gray;
        font-family:    Palatino, sans-serif;
        font-size:      50px;
        font-weight:    bold;
        font-style:     normal;
        padding: 30px;
        margin: 0 auto;
        margin-top: 20px;
        text-align: center;
        
    }
  
    body{
        margin: 0;
    }
 
</style>