<div class="footer">
    <div style="grid-column: 1;">
        <ul>
            
            <li>Menu</li>
            <li>Adresse</li>
            <li><a href="/tel">Contactez-nous</a></li>

        </ul>
    </div>
    <div style="grid-column: 2;">
        <ul>
            <li>Mentions légales</li>
            <li>CGV</li>

        </ul>
    </div>
</div>

<style>
    .footer{
        position: absolute;
        bottom:0;
        background: rgb(45, 47, 56);
        color: white;
        height: 125px;
        width: 100%;
        font-family:Tahoma;
        font-size:20px;
        font-weight:bold;
        display: grid;
        grid-template-columns: auto auto;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 20px;
    }
    a{
        text-decoration: none;
        color:white;
    }
    a:hover{
        color: #E17138;
    }
</style>