<%-include('banner')%>
<div class="tel">
<h1>Appelez-nous au 05 56 81 55 02</h1>
</div>
<%-include('footer')%>
<style>
    body{
        padding: 0;
        margin: 0;
    }
    .tel{
        text-align:center;
    }
</style>